experiment_analysis/dat/*
experiment_analysis/img/*
branching_network/dat/*
branching_network/img/*
supplementary_material/dat/*
supplementary_material/img/*

*.pdf
*~
*.nwb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode
*.pkl
*.ipynb_checkpoints
log
parameters.tsv
*.zarr/*
*.zarr.zip
*.zarr
